README.md
.gradle
build/
**/build/
**/bin/
!gradle/wrapper/gradle-wrapper.jar
info-and-advice-datastore-api/generated
info-and-advice-datastore-client/generated
info-and-advice-datastore-api/bin
info-and-advice-datastore-service/bin
.DS_Store
.idea
*.iws
*.iml
*.ipr
out/
.vscode/
.env*
!*.example
coverage/
log/
tmp/
