DB_USERNAME=laa_user
DB_PASSWORD=laa_password

# For local development using the mock OAuth2 server (docker-compose up -d mock-oauth2-server):
# LAA_OAUTH2_ISSUER_URI=http://localhost:9090/default

# If you're using the mock oauth server, it expects this value to always be `default`, otherwise
# it will throw 401 with invalid audience.
# LAA_OAUTH2_AUDIENCE=api://laa-info-and-advice-datastore
