README.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.DS_Store

info-and-advice-datastore-api/generated
info-and-advice-datastore-client/generated

info-and-advice-datastore-api/bin
info-and-advice-datastore-service/bin

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Environment variables ###
.env
